/* 디폴트(다음 단계) */
.button {
  display: flex;
  width: 180px;
  height: 45px;
  padding: 10px 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-family: "pretendardR";
  font-size: 16px;
  font-style: normal;
  background-color: var(--key-color);
  color: #fff;
  cursor: pointer;
}
.button:hover {
  background-color: var(--hover-color);
  transition: 0.8s ease;
}

/*이전 단계*/
.button--prev {
  background-color: var(--sub-color);
  border: 1px solid var(--key-color);
  color: var(--key-color);
}
.button--prev:hover {
  background-color: var(--sub-color);
  border: 1px solid var(--key-color);
  color: var(--key-color);
}
/* 좌석 선택 */
.button--select-seat {
  width: 285px;
  height: 53px;
}

/* 아웃라인 */
.button--outline {
  border: 2px solid var(--key-color);
  background-color: transparent;
  color: var(--key-color);
}
.button--outline:hover {
  background-color: var(--sub-color);
}

/* 도움말 */
.button--help {
  background-color: var(--point-color2);
  font-family: "pretendardB";
  color: var(--text-color2, #333333);
}
.button--help:hover {
  background-color: var(--point-hover-color2);
}

/* 모드 선택 */
.button--mode {
  flex-direction: column;
  width: 201px;
  height: 268px;
  font-size: 20px;
  background-color: var(--sub-color);
  color: var(--key-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.button--mode:hover {
  background-color: var(--key-color);
  color: #fff;
}
.icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

/* 사이트별 버튼 스타일 */
.button--interpark {
  background-color: #d40000;
  border: 1px solid #d40000;
}

.button--interpark:hover {
  background-color: #b50000;
}

.button--melonticket {
  background-color: #00ff00;
  border: 1px solid #00ff00;
}

.button--melonticket:hover {
  background-color: #00b500;
}

.button--ticketlink {
  background-color: #d40000;
  border: 1px solid #d40000;
}

.button--ticketlink:hover {
  background-color: #b50c00;
}

.button--yes24 {
  background-color: #00b7ff;
  border: 1px solid #00b7ff;
}

.button--yes24:hover {
  background-color: #005bb5;
}

/* 아웃라인 버튼 스타일 */
.button--outline--interpark {
  border: 2px solid #d40000;
  background-color: transparent;
  color: #d40000;
}

.button--outline--interpark:hover {
  background-color: #ffeeee;
}

.button--outline--melonticket {
  border: 2px solid #00ff00;
  background-color: transparent;
  color: #00ff00;
}

.button--outline--melonticket:hover {
  background-color: #e0f5e0;
}

.button--outline--ticketlink {
  border: 2px solid #d40000;
  background-color: transparent;
  color: #d40000;
}

.button--outline--ticketlink:hover {
  background-color: #ffadad;
}

.button--outline--yes24 {
  border: 2px solid #00b7ff;
  background-color: transparent;
  color: #00b7ff;
}

.button--outline--yes24:hover {
  background-color: #d0eaff;
}
