/*font face*/
@font-face {
  font-family: "pretendardR";
  src: url("./assests/fonts/Pretendard-Regular.woff");
}

@font-face {
  font-family: "pretendardM";
  src: url("./assests/fonts/Pretendard-Medium.woff");
}

@font-face {
  font-family: "pretendardB";
  src: url("./assests/fonts/Pretendard-SemiBold.woff");
}

:root {
  /*key color*/
  --sub-color: #edeaf9;
  --key-color: #472fd2;
  --hover-color: #1d00c8;

  /*point color*/
  --point-color: #ff6347;
  --point-color2: #ffbe17;

  /*gray scale*/
  --fill-color: #cccccc;
  --text-color: #666666;
  --text-color2: #333333;
}

/*default setting*/
body {
  font-size: 20px;
  font-family: "pretendardB";
  color: var(--text-color2);
}
input {
  /*border 초기 설정*/
  border: 1px solid var(--fill-color);
  border-radius: 8px;

  /*padding - placeholder 위치 설정*/
  padding: 0 20px;

  /*focus 시 테두리 안보이게*/
  &:focus {
    outline: none;
  }
  /*focus시 placeholder 사라지게*/
  &:focus::placeholder {
    color: transparent;
  }
}
